:root {
    /* Color constants */
    --dark-gray: rgb(40, 40, 40);
    --light-gray: rgb(235, 235, 235);
    --black: rgb(20, 20, 20);
    --white: rgb(255, 255, 255);
    --dark-gray-translucent: rgb(40, 40, 40, 0.6);
    --light-gray-translucent: rgb(235, 235, 235, 0.6);
    --dark-green: rgb(0, 165, 115);
    --light-green: rgb(0, 236, 157);
}

.light-theme {
    --background-color: var(--white);
    --font-color: var(--black);
    --selection-background-color: var(--dark-green);
    --selection-color: var(--white);
    --glass-color: var(--light-gray-translucent);
    --hover-font-color: var(--dark-green);
    --content-color: var(--light-gray);
    --background-image: url(images/trees-light.png);
    --accent-color: var(--dark-green);
}

.dark-theme {
    --background-color: var(--black);
    --font-color: var(--white);
    --selection-background-color: var(--light-green);
    --selection-color: var(--black);
    --glass-color: var(--dark-gray-translucent);
    --hover-font-color: var(--light-green);
    --content-color: var(--dark-gray);
    --background-image: url(images/trees-dark.png);
    --accent-color: var(--light-green);
}

.glass-effect
{
    background-color: var(--glass-color);
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(5px);
}

* {
    scroll-behavior: smooth;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    transition: 250ms;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    padding: 100vh 0.8rem 0;
}

/* Navigation bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.nav-bar__button {
    text-transform: uppercase;
    font-size: 1rem;
    float: left;
    text-decoration: none;
    margin: .8em;
    -webkit-tap-highlight-color: transparent;
}

.nav-bar__button:hover {
    color: var(--hover-font-color);
}

.nav-bar__button--theme-toggle {
    position: fixed;
    top: 0;
    right: 0;
}

.nav-bar__button--menu-toggle {
    display: none;
}

.nav-bar__anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

/* Navigation bar - Mobile */
@media (max-width: 600px) {
    .nav-bar__links {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .nav-bar__button {
        float: none;
        display: inline-block;
    }

    .nav-bar__button--menu-toggle {
        display: inline-block;
    }
}

/* Experience accordion */
.experience-accordion {
    max-width: 50rem;
    margin: 1em auto;
    border-radius: 0.25em;
    padding: 1em;
}

.experience-accordion__basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experience-accordion__job-title {
    margin: 0;
}

.experience-accordion__job-location {
    margin: 0;
    margin-top: 0.25em;
    color: var(--accent-color);
}

.experience-accordion__dropdown-icon {
    /* background-color: pink; */
}

.experience-accordion__detailed-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.experience-accordion__dates {
    margin: 0;
}

.experience-accordion__description {
    list-style: circle;
    margin: 0;
    padding: 0;
    padding-left: 1.2em;
}
  
.section-title {
    font-size: 1.5rem;
    text-align: center;
}

#home {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center center;
}

.example-content {
    height: 200px;
    background-color: var(--content-color);
    margin: 10px 10%;
}

::selection {
    color: var(--selection-color);
    background: var(--selection-background-color);
}